<div class="jumbotron">
    <h1>Welcome to Web App</h1>
    <p class="lead">Fill out this form for normal detail</p>
    <p><a href="https://localhost:44375/Studentids" class="btn btn-primary btn-lg">Insert detail &raquo;</a></p>
</div>
<div class="row">
    
</div>
